.images img {
    box-shadow: 0 18px 30px 0 black;
    width: 90%;
    margin-bottom: 2rem;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

.about {
    position: relative;
}
