.luxury-thumbnails{
    width: 100%;
    max-width: 100%;
}

.luxury-thumbnails img {
    padding: 0;
    cursor: pointer;
}

.luxury-thumbnails .slick-active {
    padding: 0 10px !important;
}

.luxury-thumbnails .slick-center {
    transform: scale(1);
}

.luxury-thumbnails .slick-slide:not(.slick-active) {
    margin: 0;
}

.main-pic img {
    width: 70% !important;
    height: 70% !important;

    margin-bottom: 2rem;
}

.main-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.luxury-bg {
    position: absolute;
    height: 100%;
    opacity: .3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
}

.inside-the-luxury {
    position: relative;
}

.inside-the-luxury p {
    padding: 2rem 0;
}
