.hero {
    height: 90vh;
    width: 100vw;
    position: relative;
    max-height: 90vh !important;
}

.hero img {
    padding: 0 !important;
    max-height: 90vh !important;
    width: 100%;
}

.hero .slick-active {
    padding: 0 !important;
    margin: 0 !important;
}

.hero h1 {
    text-align: center;
    color: #343434 !important;
    z-index: 501;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    overflow: hidden;
}

.slick-dots {
    height: 3rem;
    overflow: hidden;
    bottom: 0;
    z-index: 592;
}

.slick-dots li {
    background: #ececec;
    border-radius: 50% !important;
    height: 1.4rem !important;
    overflow: hidden;
    width: 1.4rem !important;
}

.slick-dots .slick-active button {
    background: orange !important;
    height: 100% !important;
    width: 100% !important;
}

.hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
    opacity: .3;
    left: 0;
    z-index: 500;
}

.logo {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%) !important;
    width: 250px !important;
    height: 250px !important;
    object-fit: contain !important;
    z-index: 503;
}
